

    <!-- End Navigation -->

    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">

    <!-- Desktop Slider -->

      <div class="hide-for-small">
        <div id="featured">
              <img src="http://www.do-atlanta.com/wp-content/uploads/2013/12/cookies.jpg" alt="slide image">
              <!-- <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image">
              <img src="http://placehold.it/1000x400&text=Slide Image" alt="slide image"> -->
          </div>
        </div>

    <!-- End Desktop Slider -->


    <!-- Mobile Header -->


    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="http://placehold.it/1000x600&text=For Small Screens" />
      </div>
    </div>


  <!-- End Mobile Header -->

    </div>
  </div><br>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="http://www.whiskeddc.com/thumbs/Plum_Pie.jpg" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://wallpoper.com/images/00/41/57/51/cakes_00415751.jpg" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://upload.wikimedia.org/wikipedia/commons/6/60/Chorley_cakes_edited.jpg" />
          <h6 class="panel">Description</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://www.cluckcluckdoo.com/wp-content/uploads/2013/01/MiniStrawberryPies3.jpg" />
          <h6 class="panel">Description</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Content -->

        <div class="large-8 columns">
          <div class="panel radius">

          <div class="row">
          <div class="large-6 small-6 columns">

            <h4>Header</h4><hr/>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>

          <div class="show-for-small" align="center">
            <a href="#" class="small radius button">Call To Action!</a><br>

            <a href="#" class="small radius button">Call To Action!</a>
          </div>

          </div>
          <div class="large-6 small-6 columns">

            <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
          </p>
        </div>

        </div>
        </div>
        </div>

          <div class="large-4 columns hide-for-small">

          <h4>Get In Touch!</h4><hr/>

          <a class="large button expand" href="#">
            Call To Action!
          </a>

          <a class="large button expand" href="#">
            Call To Action!
          </a>


        </div>

    <!-- End Content -->

      </div>
    </div>
  </div>

    <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
